@keyframes AnimateDropdown {
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(10px);
    }
}
body{
    direction: rtl;
    font-size: 16px;
    /*font-family: "B Nazanin";*/
}
.cursor-pointer{
    cursor: pointer;
}
.form-select:focus{
    box-shadow: none;
}
.top-header{
    z-index: 1030;

}
.sidebar{
    position: fixed;
    right: 0;
    top:3.5rem;
    width: 15rem;
    height: 100vh;
    transition:transform 0.5s;

}
.open-sidebar{
    transform: translateX(100%);
}
.open-sidebar+.content{
    margin-right: 0;
    transition: all 0.5s;
}
.content{
    margin-right:15rem;
    margin-top: 3.5rem;
    transition: all 0.5s;
}
.page-link{
    color:black;
}
.dropdown-menu-animated {
    position: absolute;
    margin: 0;
    animation-name: AnimateDropdown;
    animation-duration: .3s;
    animation-fill-mode: both;
    z-index: 1000;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 2px 7px 1px rgba(20,20,31,.16);
}
.dropdown-menu-animated:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 1rem;
    height: 1rem;
    background-color: white;
    top: -0.376rem;
    left: 0.5rem;
    transform: rotate(45deg);
    border-radius: 0.125rem;
}
.dropdown-menu-end[data-bs-popper] {
    left:5px;
    right: auto;
}
.nav-pills .nav-link:hover{
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
}
.filter-table .nav-link:hover,.filter-table .nav-link:active,.filter-table .nav-link:focus{
    background: #316cf4;
    color: white;
}
.page-item .page-link:hover{
    background-color:#f6f7fb;
    color:#316cf4;
}
.page-item .page-link:focus{
    background-color:#316cf4 ;
    color: white;
}
.page-item:first-child .page-link:focus,.page-item:last-child .page-link:focus,.page-item:first-child .page-link:hover,.page-item:last-child .page-link:hover{
    background:none;
    color:#316cf4;
}
.box-number{
    width: 6.5rem;
}
.number{
    font-size:4rem;
    font-weight:600;
}
.table{
    white-space: nowrap;
}
/*rtl style*/
.form-check .form-check-input{
    float: right;
}
.table .bi-chevron-right{
    transform: rotate(180deg);
}
ul.nav{
    padding-right:0 ;
}

input::placeholder{
    font-size: 14px;
}
.sidebar .main-menu .nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.form-floating>label{
    right: 0;
    left: auto;
    padding-top: 0.75rem;
}
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.form-select{
    background-position:right 0.75rem;
}
/*For Mobiles and tablet*/
@media screen  and (max-width: 991px) {
    .content{
        margin-right: 0;
    }
    .sidebar{
        transform: translateX(100%);
        top: 0;
        background: white;
        z-index: 10000000;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    }
    .open-sidebar{
        transform:none;
    }
}